:root {
  --primary-color: #c80000;
  --background-color: #e7e6e6a6;
}

.profile {
  margin-top: 200px;
}

.d-flex {
  justify-content: space-between;
}

.nav {
  font-size: 1.6rem;
}

.nav-link {
  background-color: #fff;
  color: var(--primary-color);
}

.nav-link:hover {
  font-weight: 600;
  color: var(--primary-color);
}

.active {
  color: var(--primary-color) !important;
  font-weight: 600;
  background-color: #fff !important;
}

.tab-pane {
  color: black !important;
}

.tab-pane h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

.tab-pane-box {
  display: flex;
  background-color: var(--background-color);
  padding: 20px 20px 10px;
  height: auto;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.tab-pane-box > div > h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.tab-pane-box > div:nth-child(2) {
  text-align: center;
}

.tab-pane-box > div:nth-child(4) p,
.tab-pane-box > div:nth-child(5) p {
  font-weight: 600;
  font-size: 1.8rem;
}

.tab-pane-box > div:nth-child(5) {
  text-align: center;
}

.tab-pane-box > div > p {
  font-weight: 500;
}

.info-h3 {
  font-size: 1.9rem;
  font-weight: 600;
}

.info-p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 10px 0 20px;
}

/*  thong tin cá nhân */
.account-form {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 0.805);
}

.account-form_inp,
.account-form_select {
  display: block;
  width: 70%;
  border: none;
  border-bottom: 2px solid black;
  padding: 0 10px 10px;
}

.account-form_select {
  padding: 10px 10px 8px;
}

.bnt_update,
.btn_changePass {
  color: #fff;
  background-color: black;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  padding: 9px 38px;
  margin-top: 30px;
}

.account-form_changepass {
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 25px;
  color: rgba(128, 128, 128, 0.805);
  width: 35%;
}

.account-form_changepass > div{
  position: relative;
}

.account-form_changepass > div > i{
  position: absolute;
  right: 10px;
  bottom: 15px;
  cursor: pointer;
}

/* đơn hàng của tôi */
.account-bill{
  margin-top: 40px;
  width: 100%;
  height: auto;
  font-size: 1.6rem;
}
.account-bill-header{
  display: flex;
  justify-content: space-between;
}





