@charset "UTF-8";
:root {
  --primary-color: #c80000;
  --background-color: #f2f2f2;
}

@font-face {
  font-family: "Quicksand";
  src: url("../font/Quicksand-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Quicksand", sans-serif;
}

.header1 {
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  position: relative;
}

.header2 {
  width: 100%;
  background-color: #c80000;
  position: relative;
}

.header1 p {
  font-size: 1.4rem;
}

.header1-right,
.header1-account,
.header1-account_login {
  display: flex;
  justify-content: space-between;
}

.search {
  padding: 0 10px 0 40px;
  width: 200px;
  height: 30px;
  font-size: 1.4rem;
  border-radius: 18px;
  outline: none;
  border: 2px solid rgba(128, 128, 128, 0.285);
  margin-top: 5px;
}

.search_icon {
  font-size: 1.7rem;
  color: rgba(128, 128, 128, 0.285);
  position: relative;
  top: 3px;
  left: 35px;
}

.header1-account_login i,
.header1-cart i {
  font-size: 2.2rem;
  margin: 8px 5px 0 10px;
}

.account_link {
  margin-right: 20px;
  font-size: 1.4rem;
  color: black;
}

.quantity {
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -37px;
  color: var(--primary-color);
}

.hover-cart {
  position: absolute;
  top: 45px;
  right: -130px;
  background-color: #fff;
  width: 300px;
  height: auto;
  border: 1px solid rgba(108, 108, 108, 0.3);
  z-index: 10000;
  display: none;
}

.hover-cart::after{
  content: '';
  width: 100%;
  height: 25px;
  position: absolute;
  top: -15px;
}

.hover-cart-item {
  width: 100%;
  height: 130px;
  /* border-top: 1px solid rgba(108, 108, 108, 0.3); */
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.hover-cart-item img {
  width: 100%;
}

.hover-cart-item_info {
  width: 70%;
}

.hover-cart-item_info > h3 {
  font-size: 1.5rem;
}

.hover-cart-item_info__price {
  position: relative;
  margin-top: -10px;
  display: flex;
}

.cart-item_inp {
  position: relative;
  font-size: 1.5rem;
}

.cart-item_inp input {
  border: none;
  width: 30px;
  position: absolute;
  margin-left: 5px;
}

.cart-item_inp button {
  background-color: #fff;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  top: 33px;
}

.cart-item_inp button i {
  font-size: 1.5rem;
  position: absolute;
  bottom: 3px;
  right: 0;
}

.btn-cong {
  position: absolute;
  right: 45px;
} 

.btn_delete{
  position: absolute;
  bottom: -27px;
  cursor: pointer;
  color: var(--primary-color);
}

.hover-cart_total{
  margin: auto;
  width: 92%;
  background-color: var(--background-color);
  text-align: center;
  margin-top: 20px;
  
}

.hover-cart_thanhtoan{
  text-align: center;
  padding-bottom: 15px;
}

.hover-cart_thanhtoan a{
  color: gray;
  font-size: 1.6rem;

  transition: all .2s ease-in-out;
}

.hover-cart_thanhtoan a:hover{
  color: var(--primary-color);
}

.header1-cart:hover .hover-cart{
  display: block;
}
/* ======================== MENU ==================== */
.menu {
  height: 120px;
  line-height: 120px;
  display: flex;
  justify-content: space-between;
}

.logo_image {
  margin-bottom: 10px;
}

.navbar-list {
  display: flex;
}

.navbar-list_link {
  color: black;
  transition: all 0.3s ease-in-out;
}

.navbar-list_link:hover {
  color: white;
}

.navbar-item {
  margin: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}

.navbar-item:nth-child(6) {
  margin-right: 0;
}

.navbar-item:hover {
  background-color: #ea636c;
  color: white;
  cursor: pointer;
}

.navbar-item:hover .navbar-item_link {
  color: white;
}

.navbar-item_p {
  font-size: 2rem;
  font-weight: 600;
  padding: 0 10px;
}

.menu_child {
  height: 100px;
  line-height: 100px;
  z-index: 100;
  width: 1800px;
  cursor: default;
  border-top: 2px solid rgba(128, 128, 128, 0.116);
  border-bottom: 2px solid rgba(128, 128, 128, 0.116);
  background-color: #f7f5f5;
  position: absolute;
  top: 120px;
  left: -560px;
  text-align: center;
  display: none;
}

.navbar-item:hover .menu_child {
  display: block;
}

.menu_child::after {
  content: "";
  width: 100%;
  height: 45px;
  position: absolute;
  top: -40px;
  left: 0;
  cursor: default;
}

.menu_child > li {
  display: inline-block;
}

.menu_child > li > a {
  font-size: 2rem;
  font-weight: 600;
  margin-right: 30px;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}

.menu_child > li > a:hover {
  color: var(--primary-color);
}

/* ==================== SLIDER ======================== */
.carousel-item img {
  height: 670px;
  object-fit: cover;
}

.silder {
  margin-top: 163px;
}

/* =============== Product Type =========== */
.product-type {
  width: 100%;
  height: 100%;
  padding: 70px 0;
  background-color: var(--background-color);
  /* text-align: center; */
}

.product-type_flex {
  display: flex;
}

.product-type_adidas {
  width: 600px;
  height: 600px;
  position: relative;
  margin-right: 20px;
}

.product-type_adidas__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-type_btn,
.product-type_item__btn {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  width: 170px;
  height: 42px;
  background-color: white;
  border-radius: 7px;
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s ease-in;
}

.product-type_list {
}

.product-type_item {
  width: 550px;
  height: 290px;
  position: relative;
}

.product-type_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.product-type_item__btn {
  bottom: 8%;
}

.product-type_btn:hover,
.product-type_item__btn:hover {
  background-color: red;
  color: white;
}

/* ================== DANH SÁCH SẢN PHẨM ===== */

.product {
  text-align: center;
  margin: 60px 0;
  /* border-top: 20px solid rgba(128, 128, 128, 0.1); */
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.title h1 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

.title .title-line {
  width: 130px;
  height: 2px;
  border-radius: 10px;
  background-color: black;
  padding: 0;
  margin: 0 30px;
  margin-top: 15px;
}

.title-i {
  font-size: 1.8rem;
  color: rgba(128, 128, 128, 0.703);
}

.product-choose {
  margin-top: 40px;
  margin-bottom: 30px;
}

.product-btn {
  font-size: 1.6rem;
  width: 150px;
  height: 40px;
  border-radius: 40px;
  margin: 0 5px;
  color: black;
  background-color: white;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.product-btn:hover {
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}

.btn-active {
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px; /* Khoảng cách giữa các sản phẩm */
  max-width: 1100px; /* Độ rộng tối đa của danh sách sản phẩm */
  margin: 0 auto; /* Căn giữa danh sách sản phẩm */
}

.product-item {
  width: 250px;
  height: 400px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.product-item:hover {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.product-item_img {
  width: 230px;
  height: 257px;
  overflow: hidden;
  margin-top: 12px;
  display: inline-block;
}

.product-item_img--scale {
  width: 100%;
  height: 100%;
  transition: all 1.5s ease-in-out;
}

.product-item:hover .product-item_img--scale {
  transform: scale(1.07);
}

.product-item_name {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: left;
  margin: 25px;
  margin-bottom: 15px;
}

.product-item_price {
  text-align: left;
  margin-left: 25px;
  font-size: 1.8rem;
}

.product-item_btn {
  background-color: var(--primary-color);
  color: white;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  border: none;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 20%;
  left: 0;
  opacity: 0;
  transition: all 0.3s linear;
}

.product-item:hover .product-item_btn {
  opacity: 1;
  bottom: 33%;
}

.product-showmore {
  margin: 45px 0;
}

.product-showmore_btn {
  background-color: #fff;
  font-size: 1.7rem;
  font-weight: 400;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  border: 1px solid black;
}

.product-showmore_btn:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}

/* ================ TẠI SAO LẠI CHỌN NHANH SNEAKER ================== */
.why {
  width: 50%;
  height: auto;
}

.why h1 {
  font-size: 3.8rem;
  font-weight: 600;
  color: rgb(215, 2, 2);
  position: relative;
}

.why h1::after {
  content: "";
  width: 110px;
  height: 3.5px;
  background-color: rgb(215, 2, 2);
  position: absolute;
  bottom: -10px;
  left: 0;
}

.why-item {
  margin-top: 40px;
  display: flex;
}

.why-item > img {
  margin-right: 40px;
  width: 50px;
  height: 50px;
}

.why-item_info > h5 {
  font-size: 1.7rem;
  font-weight: 600;
}

.why-item_info > p {
  font-size: 1.6rem;
}
/* ============ GIÀY NIKE ===================== */
.nike {
  margin: 50px 0;
  text-align: center;
}

.nike-img {
  width: 100%;
  height: 300px;
}

/* ===================== TIN TỨC ================== */
.news {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.news-center {
  width: 53.5%;
  height: auto;
}

.news-center_header {
  position: relative;
}

.news-center_header--img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.news-center_header--date {
  background-color: var(--primary-color);
  color: white;
  width: 90px;
  height: 60px;
  text-align: center;
  position: absolute;
  bottom: -30px;
}

.news-center_header--date p {
  font-size: 1.5rem;
  margin: 0;
}

.news-center_header--date strong {
  font-size: 1.6rem;
}

.news-center_title p {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: left;
  margin-top: 40px;
  transition: all 0.3s linear;
}

.news-center_title {
  text-align: left;
  font-size: 1.5rem;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-center_info {
  text-align: left;
  font-size: 1.5rem;
  width: 100%; /* Giới hạn chiều rộng */
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Giới hạn số dòng */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
}

.news-center_info2 {
  text-align: left;
  font-size: 1.5rem;
  width: 100%; /* Giới hạn chiều rộng */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Giới hạn số dòng */
  -webkit-box-orient: vertical;
  overflow: hidden; /* Ẩn phần văn bản vượt quá */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  margin-top: 7px;
}

.news-center:hover .news-center_title p,
.news-mini_box:hover .news-center_title p {
  color: var(--primary-color);
}

.news-mini {
  width: 44%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}

.news-mini_box {
  width: 95%;
}

.news-mini_box--header {
  width: 100%;
  height: 140px;
  overflow: hidden;
  position: relative;
}

/* ============= FOOTER =========================== */
.footer {
  padding: 40px 0 0;
  background-color: #222222;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-info_one {
  width: 25%;
  color: #fff;
  font-size: 1.5rem;
}

.footer-info_two,
.footer-info_three {
  width: 20%;
  color: #fff;
  font-size: 1.5rem;
}

.footer-info_three {
  width: 25%;
}

.footer-info_one > a > img {
  margin-bottom: 30px;
}

.footer-info_one > div {
  margin-top: 10px;
}

.footer-internet > a > i {
  font-size: 2.4rem;
  color: #fff;
  margin-right: 18px;
  margin-top: 20px;
}

.footer-internet > a > i:hover {
  color: var(--primary-color);
}

.footer-info_two,
.footer-info_three {
  margin-top: 30px;
}

.footer-info_two > h3 {
  font-weight: 600;
}

.footer-info_two > ul > li {
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
  padding: 3px 0;
}

.footer-info_two > ul > li > a {
  color: #fff;
}

.footer-info_two > ul > li:hover {
  margin-left: 15px;
}

.footer-info_three > form {
  position: relative;
}

.footer-info_three > form > input {
  width: 100%;
  padding: 10px 25px;
  background-color: #222222;
  border: 2px solid #fff;
  border-radius: 30px;
  outline: none;
  color: #fff;
}

.footer-info_three > form > button {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #fff;
  padding: 7px 20px;
  border-radius: 20px;
  font-size: 1.6rem;
  border: none;
}

.end {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1.5rem;
}

.end > div > ul > li > a {
  color: #fff;
  margin: 0 10px;
}

.end > div > ul {
  display: flex;
}
